extends /layouts/main

block head
    script.
        getJSON(apibaseurl+'test-string').then(o => {
            document.getElementById('check-fetch').innerText = o
        })
        addEventListener('PaginationAddedEntry', (event) => {})
block main 
    p#check-text This is the render of pug, it should have headers and more generated html from the webfocus app.
    p#check-fetch 
    p= `It should also make some requests to ${apibaseurl}. The following are the responses:`
    a(data-pagination-previous)
    a(data-pagination-next)
    ul#check-pagination(data-pagination-url=`${apibaseurl}/test-pagination`,data-pagination-step=33)
        template 
            li(data-pagination-map="Item ##{}")
    
